[TDE Desktop Program]
Comment=TDE WorldClock by Matthias Hoelzer-Kluepfel
Comment[af]=Tde Wêreld horlosie deur Matthias Hoelzer-kluepfel
Comment[ar]=ساعة عالمية لTDE من ماتياس هولتسر-كلوبفل
Comment[az]=Matthias Hoelzer-Kluepfel'den TDE Dünya Saatı
Comment[be]=Сусветны гадзіннік TDE (аўтар Matthias Hoelzer-Kluepfel)
Comment[bg]=Часовник, който показва часа в различни точки на света
Comment[bn]=কে.ডি.ই. বিশ্বঘড়ি, তৈরি করেছেন ম্যাথিয়াস হোলজার-ক্লুপফেল
Comment[br]=Eurier bedel TDE gant Matthias Hoelzer-Kluepfel
Comment[ca]=Rellotge mundial TDE per Matthias Hoelzer-Kluepfel
Comment[cs]=TDE WorldClock od Matthiase Hoelzer-Kluepfela
Comment[cy]=Cloc y Byd TDE gan Matthias Hoelzer-Kluepfel
Comment[da]=TDE Verdensur af Matthias Hoelzer-Kluepfel
Comment[de]=TDE-Weltzeituhr
Comment[el]=Παγκόσμιο ρολόι του TDE από τον Matthias Hoelzer-Kluepfel
Comment[eo]=TDE-mondhorloĝo
Comment[es]=El reloj mundial de TDE por Matthias Hoelzer-Kluepfel
Comment[et]=TDE maailma kell - Matthias Hoelzer-Kluepfel
Comment[eu]=TDE WorldWatch Matthias Hoelzer-Kluepfelek egina
Comment[fa]=ساعت جهانی TDE توسط ماتیوز هولزر-کلوپفل
Comment[fi]=Maailmankello, tehnyt Matthias Hoelzer-Kluepfel
Comment[fr]=L'horloge planétaire de TDE par Matthias Hoelzer-Kluepfel
Comment[ga]=TDE WorldClock le Matthias Hoelzer-Kluepfel
Comment[gl]=Reloxo Mundial de TDE  por Matthias Hoelzer-Kluepfel
Comment[he]=השעון העולמי של TDE מאת מתיאס הולצר-קליפפל
Comment[hi]=केडीई विश्व घड़ी- मैथियास होल्ज़र-क्लूपफेल द्वारा
Comment[hr]=TDE svjetski sat, autor Matthias Hoelzer-Kluepfel
Comment[hu]=TDE világóra (készítette: Matthias Hoelzer-Kluepfel)
Comment[is]=Heimsklukka TDE, eftir Matthias Hoelzer-Kluepfel
Comment[it]=Orologio mondiale di TDE scritto da Matthias Hoelzer-Kluepfel
Comment[km]=នាឡិកា​ពិភពលោក TDE ដោយ Matthias Hoelzer-Kluepfel
Comment[ko]=Matthias Hoelzer-Kluepfel이 만든 TDE 세계 시계
Comment[lt]=Matthias Hoelzer-Kluepfelio darytas TDE Pasaulio Laikrodis
Comment[lv]=TDE pasaules pulkstens no Matthias Hoelzer-Kluepfel
Comment[mk]=Светски часовник во TDE од Matthias Hoelzer-Kluepfel
Comment[ms]=Jam Dunia TDE oleh Matthias Hoelzer-Kluepfel
Comment[mt]=TDE WorldClock ta' Matthias Hoelzer-Kluepfel
Comment[nb]=TDE Verdensur av Matthias Hoelzer-Kluepfel
Comment[nds]=TDE-Weltklock vun Matthias Hoelzer-Kluepfel
Comment[ne]=माथ्यिस होइल्जर क्लूप्फेलद्वारा केडीई विश्वव्यापी घडी
Comment[nl]=TDE WorldClock door Matthias Hoelzer-Kluepfel
Comment[nn]=Verdsur for TDE av Matthias Hoelzer-Kluepfel
Comment[pl]=Czas uniwersalny w TDE autorstwa Matthiasa Hoelzera-Kluepfela
Comment[pt]=Relógio Global do TDE de Matthias Hoelzer-Kluepfel
Comment[pt_BR]=Relógio Mundial TDE criado por Matthias Hoelzer-Kluepfel
Comment[ro]=Ceas mondial TDE de Matthias Hoelzer-Kluepfel
Comment[ru]=Всемирные часы TDE от Matthias Hoelzer-Kluepfel
Comment[sk]=TDE svetové hodiny od Matthiasa Hoelzer-Kluepfela
Comment[sl]=TDE WorldClock avtorja Matthiasa Hoelzer-Kluepfela
Comment[sr]=TDE WorldClock од Матијаса Хелцера-Клипфела (Matthias Hölzer-Klüpfel)
Comment[sr@Latn]=TDE WorldClock od Matijasa Helcera-Klipfela (Matthias Hölzer-Klüpfel)
Comment[sv]=TDE:s världsklocka av Matthias Hoelzer-Kluepfel
Comment[ta]= TDE உலக கடிகாரம் by Matthias Hoelzer-Kluepfel
Comment[tg]=TDE Соати Ҷаҳон аз Маттиас Холзер-Клупфел
Comment[th]=นาฬิกาทั่วโลกของ TDE โดย Matthias Hoelzer-Kluepfel
Comment[tr]=Matthias Hoelzer-Kluepfel'den TDE Dünya Saati
Comment[uk]=Всесвітній годинник TDE від Matthias Hoelzer-Kluepfel
Comment[uz]=Matias Hoʻlser-Klyupfel (Matthias Hoelzer-Kluepfel) yaratgan TDE dunyo soati
Comment[uz@cyrillic]=Матиас Ҳўлцер-Клюпфел (Matthias Hoelzer-Kluepfel) яратган TDE дунё соати
Comment[ven]=Tshifhinga tsha lifhasi nga Matthias Hoelzer-Kluepfel
Comment[wa]=Ôrlodje daegnrece po TDE, sicrît pa Matthias Hoelzer-Kluepfel
Comment[xh]=Ukhangelo lwehlabathi lwe TDE ngu Matthias Hoelzer-Kluepfel
Comment[zh_CN]=TDE 世界时钟(作者：Matthias Hoelzer-Kluepfel)
Comment[zh_TW]=TDE 世界表 (Matthias Hoelzer-Kluepfel)
Comment[zu]=Iwashi Lomhlaba lwe TDE ngu Matthias Hoelzer-Kluepfel
Executable=kworldclock
Command=kworldclock --dump --size %xx%y -o %f
PreviewCommand=kworldclock --dump --size %xx%y -o %f
Refresh=10
